@model CreateQuizForUserVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Anket Oluştur</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Quiz.CreatedBy" class="form-control border-0 shadow" />
                    <label asp-for="Quiz.CreatedBy" class="ms-2"></label>
                    <span asp-validation-for="Quiz.CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Quiz.Name" class="form-control border-0 shadow" />
                    <label asp-for="Quiz.Name" class="ms-2"></label>
                    <span asp-validation-for="Quiz.Name" class="text-danger"></span>
                </div>
                @for(int i = 0; i < 10; i++)
                {
                    
                    <div class="card border-success mt-2">
                        <div class="card-header text-warning"><strong>Soru @(i + 1)</strong></div>
                        <div class="card-body">
                            <div class="form-floating py-2 col-12">
                                <select asp-for="Questions[i].QuestionText" id=@($"questionList{i}") class="form-control" asp-items="ViewBag.Questions"
                                        onchange=@($"LoadAnswers(this,'answerList{i}');")> 
                                        <option disabled selected>Soru Seçiniz</option>
                                    </select>
                            </div>
                            <div class="form-floating py-2 col-12"> 
                                <select asp-for="Questions[i].CorrectAnswer" id=@($"answerList{i}") class="form-control" asp-items="ViewBag.Answers">
                                </select>
                            </div>
                        </div>
                    </div>
                }
                
                
                <div class="w-75 btn-group pt-3" role="group">
                    <button class="btn btn-success" type="submit"><i class="bi bi-caret-right-square"></i> Anketi oluştur</button>

                    <a asp-area="AppUser" asp-controller="User" asp-action="Index" class="btn btn-outline-info">
                        <i class="bi bi-house-door"></i> Ana Sayfa
                    </a>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}