@model List<Quiz>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Anketler</h2>
            </div>
        </div>
    </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Anket Adı</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Sorular</th>
                    <th>Skor Tablosu</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.CreatedDate</td>
                        <td>
                            <a asp-controller="Quiz" asp-action="GetQuestionsById" asp-route-id="@obj.QuizID" class="btn btn-info">
                                Soruları Görüntüle
                            </a>                            
                        </td>
                        <td>
                        <a asp-controller="User" asp-action="ScoreTable" asp-route-id="@obj.QuizID" class="btn btn-primary">
                            Skor Tablosunu Görüntüle
                        </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>