@model QuizResult

<div class="text-center">
    <h5 class="text-success">Doğru Cevap Sayısı: @Model.CorrectAnswer</h5>
    <h5 class="text-danger">Yanlış Cevap Sayısı: @Model.WrongAnswer</h5>
</div>
